/* Body */

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #A7C6DA;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #A7C6DA;
	width: 100%;
	height: 675px;
}

#maintitle {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-bottom: -30px;
}

.berk p {
	font-size: 70px;
	z-index: -1;
	margin: 0px;
}

.berk h1 {
	font-family: 'Satisfy', cursive;
	color: #253031;
	font-size: 30px;
	margin-bottom: -110px;
	margin: 0px;
	position: absolute;
}

.boba {
	font-size: 70px;
}

.bobalogo img {
	width: 150px;
	height: auto;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#go button {
	font-family: 'Poppins', sans-serif;
	color: #253031;
	/*font-size: 20px;
	opacity: 0.75;
	background: none;
	border: 10px #253031;
	border-radius: 15px;*/
	background: none;
 	border: 2px solid black;
 	border-color: #253031;
 	border-radius: 50px;
 	font-size: 15px;
 	cursor: pointer;
 	height: 40px;
 	width: 100px;
 	transition: 250ms;
 	opacity: 0.75;
}

#go button:hover {
	opacity: 1;
	cursor: pointer;
	font-weight: bold;
	transition-duration: 0.2s;
	border: 4px solid black;
	border-color: #253031;
	transform: scale(1.1);
}